.grid-container {
  display: grid;
  grid-template-columns: 45% 45%;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 5%;
  grid-gap: 10%;
}
.grid-item {
  text-align: center;
}

body {
  font-family: "Ubuntu Mono", monospace;
  text-align: center;
  color: white;
  background: #000000;
  background: -webkit-linear-gradient(
    to left,
    #060e63,
    #0551c2,
    #0551c2,
    #060e63
  );
  background: linear-gradient(to left, #060e63, #0551c2, #0551c2, #060e63);
}

img {
  width: 100%;
  display: inline-block;
  height: 50%;
  border-radius: 15px;
}

a {
  font-weight: lighter;
  color: white;
}
.container {
  position: relative;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 99%;
  width: 100%;
  opacity: 0;
  transition: 0.2s ease;
  background-color: #000000;
  border-radius: 15px;
}

.grid-item:hover .overlay {
  opacity: 0.7;
}
.animate-top {
  position: relative;
  animation: animatetop 3s;
}
@keyframes animatetop {
  from {
    top: -500px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 0.5;
  }
}

.center {
  font-family: "Arial", sans-serif;
  color: white;
  font-size: 185px;
  display: block;
  margin-left: auto;
  text-align: center;
  margin-right: auto;
  width: 50%;
}
.babyyoda {
  background: url("bruh.gif");
  width: 100px;
  height: 100px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  background-position: center;
  background-size: cover;
}
