body{
    font-family: 'Ubuntu Mono', monospace;
    text-align:center;
    overflow: hidden;
    color:white;
}

.hidden
{
    display:none;
}

div.kontroller
{
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    position:fixed;
    bottom : 0%;
    left : 0%;
    right : 0%;
    margin: auto;
    max-width:330px;
    background: rgba(64, 64, 64, 0.8);
    border-radius:5px;
}

#main{
    position:fixed;
    top: 0px;
    left: 0px;
    z-index:-1;
    /*bruh kolla*/
    cursor: url(https://mail.google.com/mail/images/2/openhand.cur), default !important;
}

div.slider
{
    position: relative;
    left: 100;
    height: 20px;
    width: 20px;
    background: #ffffff;
    cursor: pointer;
    border-radius:5px;
    z-index:1;
}

div.sliderdown
{
    position: relative;
    left: 100;
    height: 20px;
    width: 20px;
    background: #646464;
    cursor: pointer;
    border-radius:5px;
    z-index:2;
}

div.sliderlinecontainer:hover div.slider
{
    z-index:2;
    background:#aaaaaa;
}

div.sliderline
{
    position: absolute;
    top: 0%;
    width: 100%;
    height: 20px;
    background: #464343;
    border-radius:5px;
}

div.sliderlinecontainer
{
    position:relative;
    cursor:pointer;
    padding-bottom:2px;
}

div.sliderlabeldiv
{
    display:none;
}

div.sliderdown div.sliderlabeldiv, div.sliderlinecontainer:hover div.sliderlabeldiv
{
    border-radius:2px;
    color:black;
    background-color:#aaaaaa;
    display:block;
    position:absolute;
    top:-2.8em;
    left:-15px;
    width:50px;
    height:2.5em;
}

p.sltitle 
{
    margin:0;
    font-size: small;
}

.menu
{
    display:none;
}

#animeracell
{
    position:relative;
}

#animeracell:hover .menu
{
    display:block;
    position:absolute;
    top:-200%;
    border-radius:6px;
}

table, td
{
    margin: auto;
    border: 0px;
    padding:0;
}

table#egenskapertable
{
    border-spacing:0;
    border-collapse:collapse;
}

canvas.egenskapercanvas
{
    cursor: pointer;
    margin-left:4px;
    margin-right:4px;
    display:block;
    border-radius:5px;
}

.prev
{
    cursor: pointer;
    height:12px;
    width:56px;
    background-color:#ffffff;
    display:block;
    margin:4px;
    border-radius:5px;
}

.prev:hover
{
    background:#aaaaaa;
}

.prevGrey
{
    display:block;
    height:12px;
    width:600px;
    background-color:#ffffff;
    margin:4px;
    border-radius:5px;
}

div.prev div
{
    position:relative;
    top:3px;
    width: 0px;
    height: 0px;
    margin:auto;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid black;
    cursor: pointer;
}

div.prevGrey div
{
    position:relative;
    top:3px;
    width: 0px;
    height: 0px;
    margin:auto;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 6px solid #777777;
}

a.knapp
{
    display:block;
    background:white;
    width: 80px;
    color:black;
    cursor: pointer;
    border-radius:5px;
}

a.knappon
{
    display:block;
    width: 80px;
    background: #444444;
    color: #ffffff;
    cursor: pointer;
    border-radius:5px;
}

a.knappgrey
{
    display:block;
    width: 80px;
    background: #ffffff;
    color: #777777;
    border-radius:5px;
}

a.knapp:hover
{
    background:#aaaaaa;
    border-radius:5px;
}

.homediv
{
    position:fixed;
    bottom:4px;
    right:4px;
}

.homelink
{
    color:black;
    font-style: italic;
    font-size:smaller;
}

.homelinkwhite
{
    color:white;
    font-style: italic;
    font-size:smaller;
}

.pushknapp
{
    cursor: pointer;
}

.pushknapp:hover .pushback
{
    background:#aaaaaa;
}

.pushback
{
    background:#ffffff;
    position: absolute;
    height:1em;
    width: 1em;
    border-radius:.5em;
}

.pushfore
{
    position: relative;
    font-size: small;
    top:-3px;
    color:#000000;
}

.heading
{
    margin:0;
    font-size:x-large;
}
