.grid-container {
  display: grid;
  grid-template-columns: 33% 33% 33%;
  height: 100%;
}
.grid-item {
  text-align: center;
}
.container {
  position: center;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: blue;
  padding-top: 10px;
  padding-bottom: 10px;
}
* {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

.link {
  display: inline;
  font-size: 20px;
  text-align: center;
}
img {
  width: 190px;
  height: 150px;
  position: absolute;
}
.imgbox {
  position: relative;
  height: 300px;
  width: 100%;
}

.text-box {
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
  color: blue;
  padding-top: 10px;
  padding-bottom: 10px;
}

h4 {
  font-weight: lighter;
}
