body {
  font-family: "Times New Roman", Times, serif;
  background: rgb(201, 199, 199);
  margin: 0px;
}
.huvud {
  background-color: yellow;
  padding: 10px;
  border-bottom: solid 3px;
}
.head {
  text-align: center;
  font-size: 15px;
  font-family: "Times New Roman", Times, serif;
}
.img {
  height: auto;
  width: 60%;
}
li {
  color: black;
}
.box {
  width: 100%;
  position: relative;
}
.text {
  top: 0%;
  left: 60%;
  position: absolute;
  width: 23%;
  font-size: 15px;
  font-weight: 400px;
  font-family: "Times New Roman", Times, serif;
}
a:link {
  text-decoration: none;
}
