.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 2%;
  grid-gap: 5%;
}
.grid-item {
  text-align: center;
  position: relative;
  width: 100%;
}

body {
  font-family: 'Ubuntu Mono', monospace;
  text-align: center;
  color: white;
  background: #000428;
  background: -webkit-linear-gradient(to left, #040a48, #0a3d8a,#0a3d8a, #040a48);  
  background: linear-gradient(to left, #040a48, #0a3d8a,#0a3d8a, #040a48);
}

img{
  width: 360px;
  height: 240px;
  border-radius: 15px;
  border: 3px solid #000000
}

a{
  font-weight: lighter;
}
.container {
  position: relative;
  width: 100%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: #008CBA;
}

.container:hover .overlay {
  opacity: 1;
}

