.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 30%;
  padding-right: 30%;
  padding-top: 2%;
  grid-gap: 5%;
}
.grid-item {
  text-align: center;
}

.grid-container2 {
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 20%;
  padding-right: 20%;
}
.grid-item2 {
  text-align: center;
}

body {
  font-family: 'Ubuntu Mono', monospace;
  text-align: center;
  color: white;
  background: #000428;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #092a5c, #08115f);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #092a5c, #08115f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

img{
  width: 90%;
  height: 70%;
}

a{
  font-weight: lighter;
}
