.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding-left: 25%;
  padding-right: 25%;
  padding-top: 2%;
  grid-gap: 5%;
}
.grid-item {
  text-align: center;
}

body {
  font-family: 'Ubuntu Mono', monospace;
  text-align: center;
  color: white;

}

img{
  width: 360px;
  display: block;
  height: 260px;
  border-radius: 15px;
}

a{
  font-weight: lighter;
  color: white;
}