body{
    font-family: 'Ubuntu Mono', monospace;
    text-align:center;
    overflow: hidden;
    color:black;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
  }
  