body{
    font-family: 'Ubuntu Mono', monospace;
    text-align:center;
    overflow: hidden;
    color:black;
}


a.button
{
display:block;
background:white;
width: 80px;
color:black;
cursor: pointer;
}

a.buttonon
{
display:block;
width: 80px;
background: #444444;
color: #ffffff;
cursor: pointer;
}

a.buttongrey
{
display:block;
width: 80px;
background: #ffffff;
color: #777777;
}

a.button:hover
{
background:#aaaaaa;
}

#helpbutton
{
position:absolute;
right:20px;
top:2px;
}
.pushbutton
{
cursor: pointer;
}

.pushbutton:hover .pushback
{
background:#aaaaaa;
}