#bodyColor {
  animation: holyfuckrainbows 10s linear;
  -webkit-animation: holyfuckrainbows 10s linear;
}
@keyframes holyfuckrainbows {
  0% {
    background-color: #f00;
  }
  16% {
    background-color: #f80;
  }
  33% {
    background-color: #ff0;
  }
  50% {
    background-color: #0f0;
  }
  66% {
    background-color: #00f;
  }
  83% {
    background-color: #70f;
  }
  100% {
    background-color: #90f;
  }
}
@-webkit-keyframes holyfuckrainbows {
  0% {
    background-color: #f00;
  }
  16% {
    background-color: #f80;
  }
  33% {
    background-color: #ff0;
  }
  50% {
    background-color: #0f0;
  }
  66% {
    background-color: #00f;
  }
  83% {
    background-color: #70f;
  }
  100% {
    background-color: #90f;
  }
}
