* {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
img {
  width: 250px;
  height: 250px;
  position: absolute;
}
.box {
  background-color: pink;
  width: 33.33%;
  height: 100px;
  position: absolute;
}
.text-box {
  color: blue;
  background-color: pink;
  margin: auto;
  width: 100%;
  text-align: center;
  padding: 20px;
}
.imglinkbox {
  position: relative;
  top: 100px;
  height: 300px;
  width: 100%;
}
.länk {
  display: inline;
  font-size: 20px;
  text-align: center;
  left: 50%;
  font-weight: normal;
}
