body {
    font-family: 'Ubuntu Mono', monospace;
    background-color: white;
    text-align: center;
}

table {
    display: table;
    border-collapse: separate;
    box-sizing: border-box;
    text-indent: initial;
    border-spacing: 2px;
    border-color: grey;
}

.grid-container {   
    display: grid;
    grid-template-columns: auto;
    padding-left: 30%;
    padding-right: 30%;
}
.grid-item {
    border: 2px solid black;
    padding: 0px;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}

img{
width: 45%;
height: 45%;
}
p{
    text-align: left;
}