body {
  font-family: "Ubuntu Mono", monospace;
  background-color: black;
  color: white;
  text-align: center;
}
.input {
  width: 80%;
}
.kontroller {
  background: rgba(97, 97, 97, 0);
  width: 200px;
  height: 180px;
  margin: auto;
  border-radius: 10px;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 100%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}
.grid-container1 {
  display: grid;
  grid-template-columns: auto;
}
.grid-item {
  text-align: center;
  margin: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  width: 100px;
}
.slider-container {
  display: grid;
  grid-template-columns: auto;
  width: 96%;
  margin: auto;
  padding-bottom: 5px;
}
.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 25px;
  background: #424242;
  outline: none;
  margin: auto;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 5px;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 5px;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  background: #04aa6d;
  cursor: pointer;
}
a.knappbild {
  display: block;
  background: white;
  color: black;
  width: 80px;
  height: 40px;
  cursor: pointer;
  border-radius: 5px;
}
a.knapp {
  display: block;
  background: white;
  color: black;
  width: 80px;
  cursor: pointer;
  border-radius: 5px;
}
a.knapp:hover {
  background: #aaaaaa;
  border-radius: 5px;
}
a.knappbild:hover {
  background: #aaaaaa;
  border-radius: 5px;
}
#canvas {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}

a.knappon {
  display: block;
  width: 80px;
  background: #444444;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
}
a.knappex {
  display: block;
  background: white;
  color: black;
  width: 80px;
  cursor: pointer;
  font-size: 10px;
  height: 30px;
  border-radius: 5px;
  text-align: auto;
}
a.knappex:hover {
  background: #aaaaaa;
  border-radius: 5px;
}
.span {
  width: 500px;
}
