body {
  font-family: "courier", monospace;
  background-color: black;
  color: white;
  text-align: center;
}

.input {
  width: 93%;
  border-radius: 5px;
  color: black;
  background: white;
}
.input:hover {
  background: black;
  color: white;
}

.kontroller {
  width: 176px;
  height: 180px;
  margin: auto;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 90%;
}
.kontroller2 {
  width: 176px;
  height: 180px;
  margin: auto;
  position: fixed;
  background: green;
  top: 0%;
  left: 10%;
  right: 0%;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
}

.grid-container1 {
  display: grid;
  grid-template-columns: auto;
}

.grid-item {
  text-align: center;
  margin: auto;
  padding-top: 3px;
  padding-bottom: 3px;
}

.slider-container {
  display: grid;
  grid-template-columns: auto;
  width: 100%;
  margin: auto;
  padding-bottom: 5px;
}
.slider {
  -webkit-appearance: none;
  width: 95%;
  height: 20px;
  background: #000000;
  outline: none;
  margin: auto;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  border-radius: 5px;
  border: 1px solid white;
}

.slider:hover {
  background: black;
  color: white;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 20px;
  height: 20px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 5px;
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #ffffff;
  cursor: pointer;
}

a.knapp {
  background: white;
  color: black;
  width: 80px;
  cursor: pointer;
  border-radius: 5px;
  height: 20px;
  border: 1px solid white;
  display: table-cell;
  vertical-align: middle;
}
a.knapp:hover {
  background: black;
  border-radius: 5px;
  color: white;
}

#canvas {
  position: fixed;
  top: 0px;
  left: 0px;
  z-index: -1;
}

a.knappon {
  width: 80px;
  background: black;
  color: white;
  cursor: pointer;
  border-radius: 5px;
  height: 20px;
  display: table-cell;
  vertical-align: middle;
  border: 1px solid white;
}
a.knappex {
  background: white;
  color: black;
  text-align: center;
  cursor: pointer;
  font-size: 13px;
  width: 80px;
  height: 30px;
  display: table-cell;
  vertical-align: middle;
  border-radius: 5px;
  border: 1px solid white;
}
a.knappex:hover {
  background: black;
  border-radius: 5px;
  color: white;
}
.span {
  width: 500px;
}
.knappgöm {
  display: block;
  background: black;
  color: white;
  width: 85px;
  height: 20px;
  cursor: pointer;
  font-size: 15px;
  border-radius: 5px;
}
a.knappgöm:hover {
  background: white;
  border-radius: 5px;
  color: black;
}
.göminfo {
  background: white;
  width: 500px;
  height: 300px;
  border-radius: 5px;
}
