body {
  font-family: 'Ubuntu Mono', monospace;
  background-color: white;
  text-align: center;
}


h1 {

  color: black;
  text-align: center;
  font-size: 200%;

}

p {
  font-size: 100%;
  margin: 0 auto;
  margin-top:10px;
  margin-bottom:10px;
}
a{
  font-size: 105%;
  color: gray;
}

table {
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: grey;
}

#projects{
  margin-top:16px;
  display: -webkit-flex;
  display:flex;
  -webkit-flex-wrap:wrap;
  flex-wrap:wrap;
  -webkit-justify-content: center;
  justify-content: center;
  align-items:stretch;
}
.project{
  margin-top:4px;
  margin-bottom:4px;
  display:-webkit-flex;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  max-width:100%;
  width:50%;
  margin-left:25px;
  margin-right:25px;
}
.content{
  margin-top:4px;
  margin-bottom:4px;

}

